.grade {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: 
      'p0 p1 p2'
      'p3 p4 p5'
      'p6 p7 p8';
   gap: 10px; /* Corrigido */
   height: 94%;
   width: 100%; /* Corrigido */
}

#parte-0 {
   background-image: url(./img/9.png);
   grid-area: p0; /* Corrigido */
}
#parte-1 {
   background-image: url(./img/8.png);
   grid-area: p1; /* Corrigido */
}
#parte-2 {
   background-image: url(./img/7.png); 
   grid-area: p2; /* Corrigido */
}
#parte-3 {
   background-image: url(./img/6.png);
   grid-area: p3; /* Correto */
}
#parte-4 {
   background-image: url(./img/5.png);
   grid-area: p4; /* Correto */
}
#parte-5 {
   background-image: url(./img/4.png);
   grid-area: p5; /* Correto */
}
#parte-6 {
   background-image: url(./img/3.png);
   grid-area: p6; /* Correto */
}
#parte-7 {
   background-image: url(./img/2.png);
   grid-area: p7; /* Correto */
}
#parte-8 {
   background-image: url(./img/1.png);
   grid-area: p8; /* Correto */
}
